* {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
}
  
html {
      font-size: 62.5%;
      box-sizing: border-box;
}

body {
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      color: #444;
      line-height: 1.9;
      background-color: #f3f3f3;
}

.banner {
      margin: 1rem;

}

.banner-items * {
      display: inline-block;
      justify-content: center;
}

.banner-items h1 {
      margin: 1.5rem;
      margin-left: 2.5rem;
      padding: 0;
      width: 30%;
      vertical-align: top;
      }

.BankOfAssam__logo {
      padding-left: 8%;
      padding-right: 8%;
      max-width: 30%;
      align-items: center;/*margin: auto;*/
}

.logIn__form {
      margin: 1.5rem;
      margin-right: 0;
      width: 33%;
      vertical-align: top;
}

.logIn__form input {
      width: 35%;
      height: 35px;
      margin-left: 2%;
      float: right;
      border: 2px solid blueviolet; 
      background-color: #ffffff;
      text-align: center;
      outline: darkgreen;
}

.logIn__form button {
      width: 10%;
      height: 30px;
      margin-left: 2%;
      float: right;
      border: 2px solid #f3f3f3;
      outline: darkgreen;
}

.logOutBtn {
      width: 10%;
      height: 30px;
      margin-left: 2%;
      float: right;
      border: 2px solid #f3f3f3;
      outline: darkgreen;
}

.summary {
      margin: 2.5rem;
      padding: 0;
      height: 100px;
      
}

.statement {
      font-size: 1.75rem;
      width: 50%;
      height: 40px;
      display: inline-block;
}

.balance {
      font-size: 1.75rem;
      width: 50%;
      height: 40px;
      display: inline-block;
      text-align: right;
      vertical-align: top;
}

.transactions {
      margin: 2.5rem;
      width: 55%;
      height: 500px;
      display: inline-block;
      overflow: scroll;
}

.row {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      margin-bottom: .5rem;
      
      background-color: white;
      border-radius: 2px;
}

.Deposit {
      margin-top: .5rem;
      padding-left: 1rem;
      font-size: 1.5rem;
      width: 16%;
      border-radius: 4px;
      background-color: rgb(11, 221, 11);
      color: white;
      display: inline-block;
}

.Withdrawl {
      margin-top: .5rem;
      padding-left: 1rem;
      font-size: 1.5rem;
      width: 16%;
      border-radius: 4px;
      background-color: rgb(253, 24, 70);
      color: white;
      display: inline-block;
}

.transDate {
      padding-right: 10rem;
      font-size: 1.5rem;
      height: 40px;
      width: 60%;
      display: inline-block;
      text-align: right;
      vertical-align: bottom; 
}

.value {
      font-size: 1.75rem;
      height: 40px;
      width: 20%;
      display: inline-block;
      text-align: right;
      vertical-align: top;
}

.quickFeatures {
      margin-top: 2.5rem;
      width: 40%;
      height: 400px;
      display: inline-block;
      vertical-align: top;
}

.transfer {
      height: 200px;
      vertical-align: top;
      display: inline-block;
      border-radius: 4px;
      background-color: rgb(247, 176, 44);
      
}

.Transfer__form {
      margin: 1.5rem;
      vertical-align: middle;
}

.Transfer__form input {
      width: 30%;
      height: 35px;
      margin: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: 1rem;
      float: right;
      border: 2px solid white; 
      border-radius: 4px;
      background-color: rgb(252, 193, 85);
      text-align: center;
      color: white;
      font-size: 2rem;
      outline: darkgreen;
}

.Transfer__form button {
      width: 10%;
      height: 30px;
      margin: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: 1rem;
      border-radius: 4px;
      float: right;
      border: 2px solid #f3f3f3;
      outline: darkgreen;
}

.loan {
      margin-top: 1rem;
      height: 200px;
      width: 100%;
      vertical-align: top;
      display: inline-block;
      border-radius: 4px;
      background-color: rgb(247, 176, 44);
      
}

.Loan__form {
      margin: 1.5rem;
      vertical-align: middle;
}

.Loan__form input {
      width: 30%;
      height: 35px;
      margin: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
      float: right;
      border: 2px solid white; 
      border-radius: 4px;
      background-color: rgb(252, 193, 85);
      text-align: center;
      color: white;
      font-size: 2rem;
      vertical-align: top;
      outline: darkgreen;
}

.Loan__form button {
      width: 10%;
      height: 30px;
      margin: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
      border-radius: 4px;
      float: right;
      border: 2px solid #f3f3f3;
      outline: darkgreen;
}